{
  "printWidth": 2100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "fluid": false,
  "order": "concentric-css",
  "singleAttributePerLine": false
}
